<?xml version="1.0" encoding="utf-8"?>
<widget id="com.thedandabuproject.attendancetracker" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>The Dandabu Project - Attendace Tracker</name>
  <description> We love Dandabu! In order to provide continued assistance to the dedicated students and teachers in Dandabu, a rural village in Sierra Leone where I lived 2 years while working for the Peace Corps, I built "The Dandabu Project" App. The app provides a platform for local teachers to record attendance via SMS text. Teachers simply take attendance each day, and then text those attendance numbers. On the web, we have set up a program that listens for those sms messages and parses them, pulling out the student's attendance data for that day. In a rural, impoverished village with historically limited access to education, the village has made great strides in recent years despite significant hardships, including the Ebola crisis in which Sierra Leone was hit hard. This attendance tracker app will be a helpful tool in  "The Dandabu Project," supporting our efforts to encourage students and teachers to make education a priority.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
     Jesse Allers-Hatlie, Kristen Carpentier
    </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="16" />
  <preference name="BackupWebStorage" value="none" />
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar" />
  </feature>
  <preference name="KeepRunning" value="True" />
  <preference name="ShowTitle" value="True" />
  <preference name="InAppBrowserStorageEnabled" value="True" />
  <preference name="SuppressesIncrementalRendering" value="True" />
  <preference name="windows-target-version" value="8.1" />
  <plugin name="cordova-plugin-device" spec="~1.1.1" />
  <plugin name="cordova-plugin-console" spec="~1.0.2" />
  <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
  <plugin name="cordova-plugin-statusbar" spec="~2.1.0" />
  <plugin name="ionic-plugin-keyboard" spec="~1.0.8" />
  <preference name="target-device" value="handset" />
  <preference name="deployment-target" value="" />
  <preference name="SplashScreen" value="screen" />
  <plugin name="cordova-plugin-inappbrowser" version="1.2.1" />
  <icon src="/icon.png" />
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="resources/ios/icon/icon-60.png" width="60" height="60" />
    <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="resources/ios/icon/icon-76.png" width="76" height="76" />
    <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40" />
    <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="resources/ios/icon/icon.png" width="57" height="57" />
    <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="resources/ios/icon/icon-72.png" width="72" height="72" />
    <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="resources/ios/icon/icon-small.png" width="29" height="29" />
    <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="resources/ios/icon/icon-50.png" width="50" height="50" />
    <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />
  </platform>
  <platform name="ios">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>
    <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
    <splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
    <splash src="resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>
  </platform>
</widget>